# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temp audio files
*.wav
*.mp3

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# MyPy
.mypy_cache/
